.App {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;

  
}



@media (max-width: 480px) {
  .main {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/public/desktop-wallpaper-portfolio.jpg");
    background-size: cover;
    min-height: 100vh; 
    color: white;
    text-align: justify;
    
    }

    .paragraph {
      padding: 1rem;
    }

    .title {
      padding: 1rem;
      text-align:start;
    }

    .nav {
      background-color: #171923;
      color: white;
    }

    .css-gj4cpn {
      background: #171923 !important;
      
    }


    .about {
      min-height: 100vh;
      background-color: #1a202c;
      color: white;
      
    }

    .css-xi606m {
      padding-top: 2rem;
    
    }

    .projects {
      display:flex;
      flex-direction: column;
      align-items: center;
      min-height: 100vh;
      background-color: #1a202c;
      color: white;
    }


    .projects-cards {
      margin: 1rem;
    }

    .projects-btn {
      padding: 1rem;
    }

    .card-footer {
      display: flex;
      flex-direction:row;
      justify-content: center;
      align-items: center;
      background-color: #2d3748;
      
    }

    .card-body {
      background-color: #2d3748;
      color: white;
    }

    .contacts-container {
      min-height: 100vh;
      padding-top: 3rem;
      background-color: #1a202c;
      
    }

    .contact-heading {
      text-align: center;
    }

    .contact-text {
      text-align: center;
    }
    

    .contact-links {
     display: flex;
     flex-direction: row;
     justify-content: center;
    }


    .contact-form {
      margin: 2rem;
    }
    

    .contact-card-testing {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }
    

    

    .chakra-wrap__list {
      display: flex;
      justify-content: center;
    }

  
  }



@media(min-width: 480px) and (max-width: 980px) {

  .main {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/public/desktop-wallpaper-portfolio.jpg");
    background-size: cover;
    min-height: 100vh; 
    
    }

    .css-xi606m {
      padding-top: 2rem;
    
    }

    .paragraph {
      padding: 1rem;
      text-align: justify;
    }


    .projects {
      display:flex;
      flex-direction: column;
      align-items: center;
      min-height: 100vh;
      padding-top: 4rem;
    }


    .projects-cards {
      display:flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      padding: 1rem;
      
      
    }

    .projects-btn {
      padding-right: 1rem;
    }
  

    .contacts-container {
      min-height: 100vh;
      padding-top: 4rem;
       
    }

    
      

    .contact-box {
      justify-content: center;
      
    }

    .contact-card-testing {
      width: 45rem;
    }


    .contact-heading {
      text-align: center;
    }

    .contact-text {
      text-align: center;
    }

    .css-4eo49r {
      display: flex;
      align-items: flex-start !important;
    }

    .chakra-wrap__list {
      display: flex;
      justify-content: center;
      margin-left: -1.5rem;
    }

}


@media (min-width: 990px) {

  .main {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/public/desktop-wallpaper-portfolio.jpg");
    background-size: cover;
    min-height: 100vh; 
    
    }

    .about {
      min-height: 100vh;
      
    }

    .about-div {
      display: flex;
      flex-direction: row;
      align-items: center;
      
    }
    
    .css-xi606m {
      text-align: center;
      padding-left: 2rem;
    
    }


    .projects {
      display:flex;
      flex-direction: column;
      align-items: center;
      min-height: 100vh;
      padding-top: 2rem;
    }


    .projects-cards {
      display:flex;
      flex-direction: row;
      text-align: justify;
      gap: 1rem;
      margin: 1rem;
      width: 90%;
            
    }

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      width: 30rem;
      
    }

    .project-images {
      height: 10rem;      
    }

    .projects-btn {
      padding-right: 1rem;
    }

    .email-icon {
      padding-left: 10rem;
    }
    

     .contacts-container {
      min-height: 100vh;
      padding-top: 5rem;
     } 


     .css-4eo49r {
      display: flex;
      align-items: flex-start !important;
    }

    .contact-text {
      text-align: center;
    }

    .contacts-container {
      padding-top: 3rem;
    }
   
      
}





.about-heading {
  color: #08fdd8;
}



.projects-heading {
  text-align: center;
  color: #08fdd8;
  
}


.projects-cards {
  text-align: justify;
}

.contact-heading {
  color: #08fdd8;
}

.certificate {
  text-decoration: underline;
  font-weight: bold;
  color: lightskyblue;
}

.nav {
  background-color: #171923;
  color: white;
}

.main {
  background-color: #171923;
  color: white;
}

.about {
  background-color: #1a202c;
  color: white;
}

.projects {
  background-color: #1a202c;
  color: white;
  padding-top: 1rem;
  
}


.card-body {
  background-color: #2d3748;
  color: white;
}

.card-footer {
  background-color: #2d3748;
}



.contacts-container {
  background-color: #1a202c;
}


.chakra-avatar about-avatar css-em5x7r {
  width: 10rem !important;
}


